.navbar-green {
    background-color: #00E676;
    color: #FFF;
}

.navbar-green .navbar-brand {
    color: #FFF;
}

.navbar-green .navbar-brand:hover {
    color: inherit;
    text-decoration: underline;
}

#flashMessage{
	color: #00E676;
	background: #f0f0f0; 
}